version: '3.2'
services:
  prometheus:
    image: prom/prometheus:v2.49.1
    ports:
      - '0.0.0.0:9090:9090'
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.retention=9360h
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus-data:/prometheus
    restart: on-failure
  demo-service-0:
    image: julius/prometheus-demo-service:0.11.1
    ports:
      - '0.0.0.0:10000:10000'
    command:
      - -listen-address=:10000
  demo-service-1:
    image: julius/prometheus-demo-service:0.11.1
    ports:
      - '0.0.0.0:10001:10001'
    command:
      - -listen-address=:10001
  demo-service-2:
    image: julius/prometheus-demo-service:0.11.1
    ports:
      - '0.0.0.0:10002:10002'
    command:
      - -listen-address=:10002
  node-exporter:
    image: prom/node-exporter:v1.7.0
    ports:
      - 0.0.0.0:9100:9100
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.47.2
    privileged: true
    devices:
      - /dev/kmsg
    ports:
      - 0.0.0.0:8080:8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
  caddy:
    image: caddy:2.7.4
    ports:
      - 443:443
      - 80:80
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy-data:/data
volumes:
  prometheus-data:
  caddy-data:
